<manipulation type="toUpper" />
<manipulation type="toLower" />
<manipulation type="capitalize" />
<manipulation type="URLEncode" />
<manipulation type="join">
    <input id="joinSeparator" join-update class="input-popover" style="display:none" type="text"/>
</manipulation>
<manipulation type="split">
    <input id="splitSeparator" split-update class="input-popover" style="display:none" type="text"/>
</manipulation>
<manipulation type="substring">
    <input id="substringSeparator" substring-update class="input-popover" style="display:none" type="text"/>
</manipulation>
<manipulation type="format">
    <span class="glyphicon glyphicon-edit format-edit btn btn-xs btn-default" style="display: none;" ng-click="showFormatManipulation()">{{msg('task.button.edit')}}</span>
</manipulation>
<manipulation type="parseDate">
    <input id="parseDate" parsedate-update class="input-popover" style="display:none" type="text"/>
</manipulation>