<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    <li class="dropdown-submenu" ng-repeat="source in dataSources" ng-show="source.displayName != undefined" >
        <a tabindex="-1">{{msg(source.displayName)}}#{{source.objectId}} ({{msg(source.providerName)}})</a>
        <ul class="dropdown-menu">
            <li ng-repeat="field in source.fields">
                <a ng-click="selectField(field)">{{msg(field.displayName)}}</a>
            </li>
        </ul>
    </li>
</ul>
<input class="input-auto" type="text" ng-model="displayName" />
<button class="button-settings" manipulationpopover data-type="{{fitler.type}}" manipulations="manipulations"></button>