<div class="form-inline btn-group">
    <field-input class="form-group" ng-model="field" available-fields="availableFields" ></field-input>
    <span class="validation-area form-group">
        <div class="btn-group offset-1">
            <a class="btn dropdown-toggle dropdown-small-fluid" data-toggle="dropdown" target="_self" href="#" ng-class="{'btn-danger': filter.negationOperator == undefined, 'btn-default': filter.negationOperator !== undefined}" ng-disabled="!field">
                {{msg(((negationOperator == true || negationOperator == false) && 'task.info.filter.' + negationOperator) || 'task.info.filter.select')}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" ng-hide="!field">
                <li>
                    <a ng-click="negationOperator = true">{{msg('task.info.filter.true')}}</a>
                    <a ng-click="negationOperator = false">{{msg('task.info.filter.false')}}</a>
                </li>
            </ul>
        </div>
    </span>
    <span class="validation-area form-group">
        <div class="btn-group offset-1">
            <a class="btn dropdown-toggle dropdown-medium-fluid" data-toggle="dropdown" target="_self" href="#" ng-class="{'btn-danger': !operator, 'btn-default': operator}" ng-disabled="negationOperator == undefined">
                {{msg(operator || 'task.info.filter.select')}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" ng-hide="negationOperator == undefined">
                <li class="dropdown-submenu" ng-repeat="(key, value) in FILTER_OPERATORS">
                    <a tabindex="-1">{{msg(key)}}</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="option in value.options">
                            <a ng-click="setOperator(type, option)">{{msg(option)}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </span>
    <span class="validation-area form-group" ng-class="{'has-error': needsExpression(operator) && !expression}">
        <input ng-disabled="!operator || !needsExpression(operator)" ng-model="expression" class="form-control input-auto offset-1" type="text" value=""/>
    </span>
    <span class="form-group">
        <a ng-click="remove()" class="btn btn-small btn-danger offset-1"><i class="fa fa-trash-o"></i></a>
    </span>
</div>