<div class="row create-edit-task" data-ng-cloak>
    <h4 ng-hide="task.id" class="frame-title"><span ng-bind="msg('task.section.newTask')"></span> <a href="#/tasks/dashboard" type="button" class="btn btn-sm btn-danger btn-in-frame-header pull-right"><i class="fa fa-times"></i></a></h4>
    <h4 ng-show="task.id" class="frame-title"><span ng-bind="msg('task.section.editTask')"></span> <a href="#/tasks/dashboard" type="button" class="btn btn-sm btn-primary btn-in-frame-header pull-right"><i class="fa fa-level-up"></i></a></h4>
    <div ng-show="task.validationErrors.length" class="inside ng-cloak">
        <div class="alert alert-block alert-danger">
            <strong>{{msg('task.header.taskErrors')}}:</strong>
            <ul>
                <li class="ng-cloak" ng-repeat="error in task.validationErrors">
                    {{getTaskValidationError(error)}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="margin-before">
            <form class="inside task form-horizontal">
                <!------------------ ENTER TASK NAME ------------------>
                <div class="inside-0">
                    <div class="form-group" ng-class="{'has-error': !task.name}">
                        <label>{{msg('task.name')}}</label>
                        <input class="form-control" type='text' ng-model='task.name' id="task.name">
                    </div>
                </div>

                <!------------------ ENTER TASK DESCRIPTION ------------------>
                <div class="inside-0">
                    <div class="form-group ng-cloak">
                        <label>{{msg('task.section.taskDescription')}}</label>
                        <textarea class="form-control" ng-model="task.description"></textarea>
                    </div>
                </div>

                <!------------------------ SELECT TRIGGER ------------------------>
                <div task-step>
                    <div task-trigger trigger="task.trigger"></div>
                </div>

                <!------------------------ SHOW STEPS ------------------------>
                <div ng-hide="!task.trigger.subject">
                    <div ng-repeat="step in task.steps" task-step step="step" index="$index" remove="removeStep($index)">
                        <div ng-if="step['@type']=='DataSource'" task-data-source step="step" index="$index" class="panel-body inside" available-fields-fn="getFields($index)" sources="dataSources"></div>
                        <div ng-if="step['@type']=='FilterSet'" task-filter-set ng-model="step" class="panel-body inside" available-fields-fn="getFields($index)" sources="dataSources"></div>
                    </div>

                    <!------------------------ ADD STEPS BUTTONS ------------------------>
                    <div class="row inside section-additives">
                        <div class="form-group centered">
                            <div class="btn-group">
                                <button class="btn btn-add" ng-click="addFilterSet()">{{msg('task.button.addFilterSet')}}</button>
                                <button ui-if="dataSources != undefined && dataSources.length != 0" class="btn btn-add" ng-click="addDataSource()">{{msg('task.button.addDataSource')}}</button>
                            </div>
                        </div>
                    </div>

                    <!------------------------ SHOW ACTIONS ------------------------>
                    <div ng-repeat="action in task.actions" task-step index="$index" remove="removeAction($index)" >
                        <div task-action ng-model="action" available-fields-fn="getFields"></div>
                    </div>

                    <!------------------------ ADD ACTIONS BUTTONS ------------------------>
                    <div class="row inside section-additives">
                        <div class="form-group centered">
                            <div class="btn-group">
                                <button class="btn btn-warning" ng-click="addAction()"><i class="fa fa-plus"></i> {{msg('task.button.addAction')}}</button>
                            </div>
                        </div>
                    </div>
                    <!------------------------ Help Manipulation  ------------------------>
                    <div ng-include="'../tasks/partials/help/manipulation.html'"></div>
                    <div ng-include="'../tasks/partials/help/customFieldSyntax.html'"></div>
                    <div ng-include="'../tasks/partials/help/customFieldSyntaxWithBrackets.html'"></div>

                    <!------------------------ Format Manipulation  ------------------------>
                    <div ng-include="'../tasks/partials/widgets/string-manipulation-format.html'"></div>

                    <!------------------------ SAVE ------------------------>
                    <div class="col-sm-12 form-group inside">
                        <h4 class="margin-center centered input-large-fluid">{{msg('task.section.save')}}</h4>
                        <p class="centered input-xxlarge-fluid margin-center">{{msg('task.info.addSave')}}</p>
                        <div class="clearfix"></div>
                        <div class="form-group centered inside">
                            <button ng-disabled="!task.name" ng-click="save(true)" class="btn btn-primary">{{msg('task.button.saveAndEnable')}}</button>
                            <button ng-disabled="!task.name" ng-click="save(false)" class="btn btn-success">{{msg('task.button.save')}}</button>
                            <a target="_self" href="#/tasks/dashboard" class="btn btn-default"> {{msg('task.button.cancel')}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
