<div id="filtersForm" class="form-inline">
    <div class="form-group centered">
        <label class="label-radio">
            <input type="radio" ng-model="or_operator" ng-value="false">
            {{msg('task.info.filter.and')}}
        </label>
        <label class="label-radio">
            <input type="radio" ng-model="or_operator" ng-value="true">
            {{msg('task.info.filter.or')}}
        </label>
    </div>
    <div class="margin-center margin-before">
        <filter ng-repeat="filter in filters" ng-model="filter" />
    </div>
    <div class="form-group centered">
        <a ui-if="step.filters.length" target="_self" href="#helpModalFieldSyntax" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help')}}</a>
        <button class="button-add add" ng-click="addFilter()">
            <span ui-if="!filters.length" >{{msg('task.button.addFilter')}}</span>
            <span ui-if="filters.length" >{{msg('task.button.addAnotherFilter')}}</span>
        </button>
    </div>
</div>