<div class="form-group control-section">
    <label class="col-md-2 col-sm-3 control-label task-label">{{msg('task.info.availableFields')}}:</label>
    <div class="form-inline col-md-10 col-sm-9 move-element">
        <field ng-repeat="field in availableFields track by $index" field="field" draggable />
    </div>
</div>


<div class="form-inline">
    <div class="form-group">
        <span class="col-md-2 col-sm-3 control-label">{{msg('task.channel')}}:</span>
        <div class="btn-group offset-15">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#">
                {{msg(channel.displayName || 'task.select')}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="channel in channels">
                    <a ng-click="selectChannel(channel)">{{msg(channel.displayName)}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="channel" class="form-group">
        <span  class="offset-4">{{msg('task.action')}}:</span>
        <div class="btn-group offset-15">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" target="_self" href="#" ng-init="searchAction.displayName='' " ng-click="searchAction.displayName='' ">
                {{msg(action.displayName || 'task.select')}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="search-data-source" ng-show="getActions() && getActions().length &gt; 8">
                    <input class="form-control" type="text" ng-model="searchAction.displayName" placeholder="{{msg('task.placeholder.searchAction')}}">
                </li>
                <li>
                    <ul class="select-limit">
                        <li ng-repeat="action in getActions() | filter:searchAction">
                            <a ng-click="selectAction(action)">{{msg(action.displayName)}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="form-group" ng-show="selectedAction[$index].description">
    <label class="col-md-2 col-sm-3 control-label">{{msg(action.description)}}</label>
</div>
<div ui-if="action">
    <div ng-class="{'has-warning': actionCssClassWarning(i), 'has-error': actionCssClassError(i)}" ng-repeat="parameter in action.actionParameters | filter: {hidden: false}" class="form-group clearfix">
        <label class="col-md-2 col-sm-3 control-label tip unselectable">
            {{msg(parameter.displayName)}}
            <!------------------------ Tooltips ------------------------>
            <span class="help-inline" ui-if="i.type == 'LIST'" help-popover="list" data-title="{{msg('task.header.listHelp')}}"><i class="fa fa-question-circle"></i></span>
            <span class="help-inline" ui-if="i.type == 'MAP'" help-popover="map" data-title="{{msg('task.header.mapHelp')}}"><i class="fa fa-question-circle"></i></span>
            <span class="help-inline" ui-if="actionCssClassWarning(parameter)" help-popover="warning" data-title="{{msg('task.header.warning')}}"><i class="fa fa-exclamation-triangle"></i></span>
            <span class="help-inline" ui-if="actionCssClassError(parameter)" help-popover="error" data-title="{{msg('task.header.error')}}"><i class="fa sfa-exclamation-triangle"></i></span>
        </label>

        <!------------------------ Editable fields ------------------------>
        <div class="form-inline col-md-10 col-sm-9">
            <div ui-if="parameter.type == 'UNICODE'" data="i">
                <editable-content  index="{{$index}}" data="parameter" type="UNICODE"> </editable-content>
            </div>
            <div ui-if="parameter.type == 'TEXTAREA' || parameter.type == 'LIST'" data="parameter" >
                <editable-content  data="i" index="{{$index}}" type="TEXTAREA" ></editable-content>
            </div>
            <div ui-if="parameter.type == 'PERIOD'" data="parameter" >
                <div ng-include="'../tasks/partials/widgets/content-editable-period.html'" data="parameter"></div>
            </div>
            <div ui-if=" parameter.type == 'MAP' " data="parameter">
                <div ng-include="'../tasks/partials/widgets/content-editable-map.html'"></div>
            </div>
            <div ui-if="parameter.type == 'INTEGER' || parameter.type == 'LONG'" data="i">
                <editable-content data="parameter" index="{{$index}}" type="INTEGER"></editable-content>
            </div>
            <div ui-if="parameter.type == 'DOUBLE'" data="parameter">
                <editable-content  data="parameter" index="{{$index}}" type="DOUBLE"></editable-content>
            </div>
            <div ui-if="parameter.type == 'TIME'" data="parameter">
                <editable-content  data="parameter" index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="TIME"></editable-content>
            </div>
            <div ui-if="parameter.type == 'DATE'" data="parameter" class="">
                <editable-content  data="parameter" index="{{$index}}" action="{{$parent.$parent.$parent.$index}}" type="DATE"></editable-content>
            </div>
            <div ui-if="parameter.type == 'BOOLEAN'">
                <label class="radio-inline">
                    <input type="radio" class=" " ng-checked="checkedBoolean($parent.$parent.$parent.$index, $index, 'true')" ng-click="setBooleanValue($parent.$parent.$parent.$index, $index, true)"/> {{msg('yes')}}
                </label>
                <label class="radio-inline">
                    <input type="radio" class="" ng-checked="checkedBoolean($parent.$parent.$parent.$index, $index, 'false')" ng-click="setBooleanValue($parent.$parent.$parent.$index, $index, false)"/> {{msg('no')}}
                </label>
                <label class="radio-inline">
                    <editable-content data="parameter" index="$index" type="BOOLEAN"></editable-content>
                </label>
            </div>
            <div ui-if="parameter.type == 'SELECT'">
                <div class="btn-group form-group">
                    <button class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" target="_self" href="#"
                            ng-click="searchOptions=''">
                        {{msg(parameter.value || 'task.select')}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="search-data-source"
                            ng-show="parameter.options.length &gt; 8"
                            task-stop-propagation>
                            <input class="form-control" type="text"
                                   ng-model="searchOptions"
                                   placeholder="{{msg('task.placeholder.searchOptions')}}">
                        </li>
                        <li>
                            <ul class="select-limit">
                                <li ng-repeat="option in parameter.options | filter:searchOptions">
                                    <a ng-click="parameter.value = option">{{taskMsg(option)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-danger alert-block"
                     ng-show="parameter.options.length == 0">
                    {{msg('task.info.noParameterOptions')}} {{taskMsg(parameter.displayName)}}
                </div>
            </div>
        </div>
    </div>

    <!------------------------ Help button  ------------------------>
    <a data-target="#helpModal" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help.modifications')}}</a>
    <a data-target="#helpModalFieldSyntaxWithBrackets" role="button" class="btn btn-primary" data-toggle="modal">{{msg('task.help.customSyntax')}}</a>
</div>